{% extends "base.html" %}

{% block body %}
<section class="header">
      <div class="container">
        <div class="row">
          <div class="twelve column">
            <img class="pyramid" src="{{ url_for('static', filename='images/pyramid.png') }}">
          </div>
        </div>
        <div class="row">
          <div class="twelve column">
            <h4 class="hero-heading">Stop Wondering! Manage Money, Smarter! </h4>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
