{% extends "base.html" %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabulator_modern.css') }}">
<!--link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.1/css/tabulator_simple.min.css" rel="stylesheet"-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.1/js/tabulator.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
<script>
  $(function() {
  $( ".dtpick" ).datepicker({ dateFormat: 'dd-mm-yy'}).datepicker("setDate", "0"); });

</script>
{% endblock %}

{% block all_accounts %}
  <a class="popover-link" href="{{ url_for('main.account_overview') }}">Your Accounts</a>
{% endblock %}

{% block logger %}
<a class="popover-link" href="{{ url_for('main.account', name=account.name) }}">Logger</a>
{% endblock %}

{% block dashboard %}
<a class="popover-link" href="{{ url_for('main.show_charts', name=account.name) }}">Dashboard</a>
{% endblock %}

{% block download %}
<a button class="popover-link" id="download-csv">Download</a>
{% endblock %}

{% block scheduled %}
<a class="popover-link" href="{{ url_for('main.new_scheduled_transaction', name=account.name) }}">Templates</a>
{% endblock %}

{% block body %}
	<div class="container">
		<section class="header">
	  	<h2 class="title">Summary</h2>
		</section>
		<div class="docs-section">
			<h5>Filter Your Transactions</h5>
			<div class="row">
					<div class="six columns">
						<input class="dtpick" id="filter-from-value" type="text" placeholder="date from">

					</div>
					<div class="six columns">

						<input class="dtpick" id="filter-to-value" type="text" placeholder="date to">
					</div>

			</div>
			<div class="row">
				<div class="six columns">
					<input class="six columns" id="filter-amount-ge-value" type="text" placeholder="greater than equal to">
					<input class="six columns" id="filter-amount-le-value" type="text" placeholder="less than equal to">
				</div>
				<div class="six columns">
					<input class="six columns" id="filter-type-value" type="text" placeholder="type like">
					<input class="six columns" id="filter-category-value" type="text" placeholder="category like">
				</div>
			</div>
			<div class="row">
				<div class="six columns">
					<input class="six columns" id="filter-description-value" type="text" placeholder="description like">
					<input class="six columns" id="filter-status-value" type="text" placeholder="status like">
				</div>
				<div class="six columns">
					<input class="six columns" id="filter-tags-value" type="text" placeholder="tags like">
					<input class="six columns" id="filter-payee-value" type="text" placeholder="payee like">
				</div>
			</div>
			<div class="row">
				<div class="six columns">
						<button class="button" id="filter-set">Filter</button>
						<button class="button" id="filter-clear">Clear</button>
						<button class="button" id="del-row">Delete Row</button>
				</div>
				<div class="six columns">
					<button class="button" id="history-undo">Undo Edit</button>
					<button class="button" id="history-redo">Redo Edit</button>
				</div>
			</div>
		</div>
		<div class="docs-section">
			<h5>All Your Transactions</h5>
			<div class="u-full-width">
				  <table class="u-full-width">
						<div id="example-table3"></div>
					<table>
			</div>
		</div>
		<div class="docs-section">
				<h5>Transaction Summary</h5>
				<table class="u-full-width">
					<thead>
						<tr>
							<th>Field</th>
							<th>Count</th>
							<th>Sum</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>Filtered Transactions</td>
								<td id="filtered_transactions_count"></td>
								<td id="total_filtered_amount"></td>
							</tr>
					</tbody>
				</table>
		</div>
	</div>

	<script>

	var categories = {};
	$.get("{{ url_for('main.get_categories', name=account.name) }}",
		function(data, status){
			var cats = JSON.parse(data)
			for (var i = 0; i < cats.length; i++) {
					categories[cats[i]] = cats[i];
			}
			console.log(categories)
	});

	var subcategories = {};
	$.get("{{ url_for('main.get_subcategories', name=account.name) }}",
		function(data, status){
			var subcats = JSON.parse(data)
			for (var i = 0; i < subcats.length; i++) {
					subcategories[subcats[i]] = subcats[i];
			}
			console.log(subcategories)
	});

	var dateEditor = function(cell, onRendered, success, cancel){
		    //cell - the cell component for the editable cell
		    //onRendered - function to call when the editor has been rendered
		    //success - function to call to pass the successfuly updated value to Tabulator
		    //cancel - function to call to abort the edit and return to a normal cell
				var categories;

				$.get("{{ url_for('main.get_categories', name=account.name) }}",
					function(data, status){
						categories = data;
				});

		    //create and style editor
		    var editor = $("<input type='date'></input>");
		    editor.css({
		        "padding":"3px",
		        "width":"100%",
		        "box-sizing":"border-box",
		    });

		    //Set value of editor to the current value of the cell
		    editor.val(moment.utc(cell.getValue()));

		    //set focus on the select box when the editor is selected (timeout allows for editor to be added to DOM)
		    onRendered(function(){
		      editor.focus();
		      editor.css("height","100%");
		    });

		    //when the value has been set, trigger the cell to update
		    editor.on("change blur", function(e){
		       success(moment.utc(editor.val()).toISOString());
					 console.log(moment.utc(editor.val()).toISOString())
		    });

		    //return the editor element
		    return editor;
		};

	function removeActiveFilter(filters, field, type){
		if(filters.some(e => e.field == field)){
			i = $.map(filters, function(obj, index){
				if(obj.type == type){
						$("#example-table3").tabulator("removeFilter", field, type, obj.value);
						return index
				}
			})
		}
	}

	function updateFilter(){
			if($("#filter-amount-ge-value").val()) {
					removeActiveFilter($("#example-table3").tabulator("getFilters"), "amount", ">")
					$("#example-table3").tabulator("addFilter", "amount", ">", $("#filter-amount-ge-value").val());
			}

			if($("#filter-amount-le-value").val()) {
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "amount", "<")
				$("#example-table3").tabulator("addFilter", "amount", "<", $("#filter-amount-le-value").val());
			}

			if($("#filter-from-value").val()) {
				//console.log(moment($("#filter-from-value").val(), 'DD/MM/YYYY', true).format())
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "date", ">")
				var d = moment.utc($("#filter-from-value").val(), 'DD/MM/YYYY').toISOString();
				console.log(d)
				$("#example-table3").tabulator("addFilter", "date", ">=", d);
			}

			if($("#filter-to-value").val()) {
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "date", "<")
				var e = moment.utc($("#filter-to-value").val(), 'DD/MM/YYYY').toISOString();
				console.log(e)
				$("#example-table3").tabulator("addFilter", "date", "<=", e);
			}

			if($("#filter-type-value").val()) {
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "typeid", "=")
				$("#example-table3").tabulator("addFilter", "type", "=", $("#filter-type-value").val());
			}

			if($("#filter-category-value").val()) {
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "category", "like")
				$("#example-table3").tabulator("addFilter", "category", "like", $("#filter-category-value").val());
			}

			if($("#filter-tags-value").val()){
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "tag", "in")
				$("#example-table3").tabulator("addFilter", "tag", "in", $("#filter-tags-value").val().split(", "));
			}

			if($("#filter-payee-value").val()){
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "payee", "like")
				$("#example-table3").tabulator("addFilter", "payee", "like", $("#filter-payee-value").val());
			}

			if($("#filter-description-value").val()){
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "description", "like")
				$("#example-table3").tabulator("addFilter", "description", "like", $("#filter-description-value").val());
			}

			if($("#filter-status-value").val()){
				removeActiveFilter($("#example-table3").tabulator("getFilters"), "status", "=")
				$("#example-table3").tabulator("addFilter", "status", "=", ($("#filter-status-value").val() == "true"));
			}

			//console.log($("#example-table3").tabulator("getFilters"))
			//var data = $("#example-table").tabulator("getData");
			//console.log(data)
	}

	$("#filter-set").click(updateFilter);

	$("#del-row").click(function(){
	    //$("#example-table3").tabulator("deleteRow", 1);
			//console.log(document.getElementById("del-row").value)
			var rowid = {'tid': document.getElementById("del-row").value }

			$.ajax({
						url: '{{ url_for('main.delete_data', name=account.name) }}',
						data: JSON.stringify(rowid),
						type: 'POST',
						contentType: 'application/json;charset=UTF-8',
						success: function(response) {
								console.log('success');
								$("#example-table3").tabulator("setData", "{{ url_for('main.data', name=account.name) }}");
						},
						error: function(error) {
								console.log(error);
						}
				});


	});

	$("#filter-clear").click(function(){
	    $("#filter-from-value").val("");
			$("#filter-to-value").val("");
			$("#filter-amount-ge-value").val("");
			$("#filter-amount-le-value").val("");
			$("#filter-type-value").val("");
			$("#filter-category-value").val("");
			$("#filter-tags-value").val("");
			$("#filter-payee-value").val("");
			$("#filter-description-value").val("");
			$("#filter-status-value").val("");
	    $("#example-table3").tabulator("clearFilter");
	});

	$("#example-table3").tabulator({

			height:"100%",
			history:true,
			index: "tid",
			tooltips:false,
	    placeholder:"No Data Set",
			pagination:"local",
			paginationSize:20,
			selectable:true,
	    columns:[
				  { title:"Date", field:"date", editor:dateEditor, formatter:function(cell, formatterParams){
		        //cell - the cell component
		        //formatterParams - parameters set for the column
						return moment.utc(cell.getValue()).format("DD/MM/YYYY"); //return the contents of the cell;
	    		},},
	        {title:"Amount", field:"amount", editor:'number', formatter:"money", bottomCalc:"sum", bottomCalcParams:{precision:2}},
	        {title:"Category", field:"category", editor:'select', editorParams:function(cell){
						if (categories) {
							return categories
						}
						else{
							return {"key1": "value1", "key2": "value2"}
						}},},
					{title:"Subcategory", field:"subcategory", editor:'select', editorParams:function(cell){
						if (subcategories) {
							return subcategories
						}
						else{
							return {"key1": "value1", "key2": "value2"}
					 }},},
	        {title:"Description", field:"description", editor:'input'},
	        {title:"Payee", field:"payee", editor:'input'},
	        {title:"Status", field:"status", editor: true, formatter:"tickCross"},
	        {title:"Tag", field:"tag", editor:"input"},
	        {title:"Type", field:"type", editor:'select', editorParams:{"Unknown":"Unknown", "Credit card":"Credit Card",
				"Check": "Check", "Cash": "Cash", "Transfer": "Transfer", "Internal Transfer": "Internal",
			"Debit card": "Debit card", "Standing order": "Order", "Electronic payment": "Electronic", "Deposit": "Deposit"}}, // ToDo: pre-selected strings
	    ],

			rowSelected:function(row){
	        row.getElement().css({"background-color":"#A9A9A9"});
					document.getElementById("del-row").value = row.getIndex()
	    },

			rowDeselected:function(row){
					row.getElement().css({"background-color":""});

	    },

			dataLoading:function(data){
	        //data - all data loaded into the table
					total = 0
					for (i = 0; i < data.length; i++) {  //loop through the array
	    				total += data[i].amount;  //Do the math!
					}
	    },

			dataFiltered:function(filters, rows){
	        //filters - array of filters currently applied
	        //rows - array of row components that pass the filters
					total_filtered = 0
					for(i = 0; i < rows.length;i++){
						var data = rows[i].getData(); //get data object for row
						total_filtered += data.amount;  //Do the math!
					}
					document.getElementById("total_filtered_amount").innerHTML = total_filtered.toFixed(2);
					document.getElementById("filtered_transactions_count").innerHTML = rows.length;
	    },

			cellEdited:function(cell){

					$.ajax({
		            url: '{{ url_for('main.set_data', name=account.name) }}',
			          data: JSON.stringify(cell.getData()),
		            type: 'POST',
								contentType: 'application/json;charset=UTF-8',
		            success: function(response) {
		                console.log(JSON.stringify(cell.getData()));
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });

						//$("#example-table3").tabulator("setSort", "date", "desc");
	    },

	});

	$("#example-table3").tabulator("setData", "{{ url_for('main.data', name=account.name) }}");

	$("#download-csv").click(function(){
	    $("#example-table3").tabulator("download", "json", "data.json");
	});

	$("#history-undo").on("click", function(){
	   $("#example-table3").tabulator("undo");
	});

	$("#history-redo").on("click", function(){
	   $("#example-table3").tabulator("redo");
	});


	</script>
{% endblock %}
