{% extends "base.html" %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.1/css/tabulator_simple.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.1/js/tabulator.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
<script>
  $(function() {
    $( ".dtpick" ).datepicker({ dateFormat: 'dd/mm/yy'}).datepicker("setDate", "0"); });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block dashboard %}
<a class="popover-link" href="{{ url_for('main.show_charts', name=account.name) }}">Dashboard</a>
{% endblock %}

{% block summary %}
<a class="popover-link" href="{{ url_for('main.show_log', name=account.name) }}">Summary</a>
{% endblock %}

{% block upload %}
<a class="popover-link" href="{{ url_for('main.upload_csv', name=account.name) }}">Upload</a>
{% endblock %}

{% block scheduled %}
<a class="popover-link" href="{{ url_for('main.new_scheduled_transaction', name=account.name) }}">Templates</a>
{% endblock %}

{% block body %}
<section class="header">
  <h2 class="title">Transaction Overview</h2>
  <div id = "transactionform" class="row">
	    {% for field in form.errors %}
	      {% for error in form.errors[field] %}
	          <div class="alert alert-error">
	              <strong>{{field }}</strong> {{error}}.
	          </div>
	      {% endfor %}
	    {% endfor %}

    	<form action="{{ url_for('main.account', name=account.name) }}" method="post">
					{{ form.hidden_tag() }}
				<div class="row">
			    <div class="three columns">
			      	{{ form.date(class_='dtpick u-full-width',placeholder="date") }}
			    </div>
			    <div class="three columns">
			    		{{ form.amount(class_="u-full-width", placeholder="amount", value="") }}
							{{ form.subcategory(class_="u-full-width", placeholder="subcategory", value="") }}
							{{ form.description(class_="u-full-width", placeholder="description", value="") }}
			    </div>
					<div class="three columns">
							{{ form.type(class_="u-full-width",placeholder="type") }}
							{{ form.payee(class_="u-full-width", placeholder="payee", value="") }}
							<label class="status">
							 {{ form.status() }}
							 <span class="label-body">Transaction completed</span>
						 	</label>
					</div>
					<div class="three columns">
							{{ form.category(class_="u-full-width",placeholder="category", value="") }}
							{{ form.tag(class_="u-full-width", placeholder="tag", value="") }}
							{{ form.submit(class="button-primary u-full-width", value="Add") }}
					</div>
  			</div>
			</form>

  	</div>


  <div class="u-full-width">
    <h2 class="docs-header transaction-overview"> Upcoming Transactions</h2>

      <table class="u-full-width">
        <div id="upcoming_ttable"></div>
      </table>

  </div>

	<div class="u-full-width">
    <h2 class="docs-header transaction-overview"> Last Transactions</h2>

      <table class="u-full-width">
        <div id="ttable"></div>
      </table>

  </div>


  <script>

    $("#upcoming_ttable").tabulator({
      height:"100%",
      layout:"fitColumns",
      tooltips:false,
      placeholder:"No Data Set",
      pagination:"local",
      paginationSize:10,
      columns:[
        // put id field here to pass back to server
			  {title:"Date", field:"date", sorter:"date", formatter:function(cell, formatterParams){
						return moment(cell.getValue()).format("DD/MM/YYYY"); //return the contents of the cell;
				}},
        {title:"Amount", field:"amount", formatter:"money"},
        {title:"Category", field:"category"},
        {title:"Description", field:"description"},
        {title:"Payee", field:"payee"},
        {title:"Tag", field:"tag"},
        {title:"Type", field:"type"}, // ToDo: pre-selected strings
        {title:"Approve", field:"approve", align:"center", editor: true, formatter:"tickCross", width:50},
      ],

      dataLoaded:function(data){
         if($("#st-table").tabulator("getPageMax")){
             $(".tabulator-footer").hide();
         }else{
             $(".tabulator-footer").show();
         }
       },

			 cellEdited:function(cell){
	         //This callback is called any time a cell is edidted
	 				console.log(JSON.stringify(cell.getData()))
	 				//var test = { "name":"John", "age":30, "city":"New York"};
	 				var test = cell.getData();
					$.ajax({
	 	            url: '{{ url_for('main.show_template_transactions', name=account.name) }}',
	 		          data: JSON.stringify(test),
	 	            type: 'POST',
	 							contentType: 'application/json;charset=UTF-8',
	 	            success: function(response) {
	 	                console.log('success');
	 	            },
	 	            error: function(error) {
	 	                console.log(error);
	 	            }
	 	        });
	     },

    });

    $("#upcoming_ttable").tabulator("setData", JSON.parse('{{ dataframe | safe}}'));

    $("#ttable").tabulator({
      height:"100%",
      layout:"fitColumns",
      tooltips:false,
      placeholder:"No Data Set",
      pagination:"local",
      paginationSize:10,
      columns:[
        // put id field here to pass back to server
			  {title:"Date", field:"date", sorter:"date", formatter:function(cell, formatterParams){
						return moment(cell.getValue()).format("DD/MM/YYYY"); //return the contents of the cell;
				}},
        {title:"Amount", field:"amount", formatter:"money"},
        {title:"Category", field:"category"},
				{title:"Subcategory", field:"subcategory"},
        {title:"Description", field:"description"},
        {title:"Payee", field:"payee"},
        {title:"Status", field:"status"},
        {title:"Tag", field:"tag"},
        {title:"Type", field:"type"}, // ToDo: pre-selected strings
      ],
  });

		console.log(JSON.parse('{{ table | safe}}'));
  	$("#ttable").tabulator("setData", JSON.parse('{{ table | safe}}'));

	</script>

</section>
{% endblock %}
