{% extends "base.html" %}

{% block all_accounts %}
  <a class="popover-link" href="{{ url_for('main.account_overview') }}">Your Accounts</a>
{% endblock %}

{% block logger %}
<a class="popover-link" href="{{ url_for('main.account', name=account.name) }}">Logger</a>
{% endblock %}

{% block dashboard %}
<a class="popover-link" href="{{ url_for('main.show_charts', name=account.name) }}">Dashboard</a>
{% endblock %}

{% block summary %}
<a class="popover-link" href="{{ url_for('main.show_log', name=account.name) }}">Summary</a>
{% endblock %}

{% block body %}
<div class="container">

    <section class="header">
      <h2 class="title"> Upload Transactions</h2>
    </section>

    <div class="docs-section">
      <div class="row">
        <form method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input class="button-primary" type="submit" value="Upload">
        </form>
      </div>
    </div>

    <div class="docs-section">
      <div class="row">
        <div class="u-full-width">
          {{ table|safe }}
        </div>
      </div>
    </div>

</div>

{% endblock %}
